# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules

# testing
client/coverage

# production
client/build
client/dist
client/src/deps/OpenSankey+

# server
__pycache__
server/__pycache__

# database
db.sqlite
instance/db.sqlite*
server/db.sqlite
server/db.sqlite.bk

# misc
client/pnpm-lock.yaml
client/package-lock.json

#local server
.vscode
env
client/public/icons/guided_tour.svg
client/public/illustrations/empty_sankey.png
client/public/logos/logo_opensankey.png
client/public/logos/logo_opensankeyplus.png
client/public/logos/logo_terriflux.png
client/public/media/catch_phrase_OpenSankey*.webm
client/public/welcome/images_carousel/Image1.png
client/public/welcome/images_carousel/Image2.png
client/public/welcome/images_carousel/Image3.png
client/public/welcome/images_carousel/Image5.png
client/public/welcome/images_carousel/Image6.png
client/public/welcome/images_carousel/Image40.png
client/public/welcome/images_carousel/Image41.png
client/public/welcome/intro_static.png
client/public/logo_terriflux.png
client/public/logo192.png
client/public/logo512.png
client/public/manifest.json
client/public/meta/android-chrome-192x192.png
client/public/meta/android-chrome-512x512.png
client/public/meta/apple-touch-icon.png
client/public/meta/favicon-16x16.png
client/public/meta/favicon-32x32.png
client/public/meta/manifest.json
