[submodule "submodules/MFAProblem"]
	path = submodules/MFAProblem
	url = https://gitlab.com/su-model/mfa_problem.git
[submodule "TestData"]
	path = SankeyData
	url = https://gitlab.com/su-model/SankeyData.git
