*.pyc
**/node_modules/*
**/dist/*
package-lock.json
**/build/**
**/users-folders/**
!**/build/static/
!**/build/static/js
!**/build/static/css
!**/build/static/media
!**/*.py
**/.git
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/env
**/.VSCodeCounter
**/__pycache__
**/*.pyproj
**/*.sln
.vscode/settings.json
.vscode/launch.json
debug.log
opensankey/client/.eslintcache
tests/output_references/.gitkeep.json
opensankey/client/src/lib/__snapshots__/*
