CLIENT_ROOT_URL=http://localhost:3000/#/
MAIL_DBG_MODE=Activate
MAIL_SENDING_ADRESS=contact@terriflux.fr
MAIL_SENDING_PWD=PutAPasswordHereIfNeeded
MAIL_SERVER=ssl0.ovh.net
MAIL_PORT=465
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MFAData=PutYourPathHere
STRIPE_SECRET_KEY=sk_test_51Q5ryr4D4FENxv0JCvVWWGNcfpFfxLH0gvKG6K6yNqfsyNEsfxOs0M9Qcs0Oc74MsGfQ5yLkhwxZeSq8k1hMPBV400qizlpXZC
STRIPE_PUBLISHABLE_KEY=pk_test_51Q5ryr4D4FENxv0JIoQGH543mTSaoIlI0xwkz1upHvNMJpeiHC8Ng2EmMTuB8Hvz0jy7eZTGgzDZdlVnuvr2Vokh00M0WXHCFg
STRIPE_PRICE_ID_OSPLUSMENSUEL=price_1Q5sHz4D4FENxv0JX8D4cF0S
STRIPE_ENDPOINT_SECRET=whsec_bd224d5114f66d5f29d5997b474c3444d86d0fccf69b2f497e90a6c467d8986a
INTERNAL_HTTP_PORT=5000
REF_EPOCH=16085
USER_PREF_REP=$HOME