{{! Sphinx Docstring Template }}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#parametersExist}}
Parameters
----------
{{#args}}
:param {{var}}: {{descriptionPlaceholder}}
:type {{var}}: {{typePlaceholder}}

{{/args}}
Optional parameters
-------------------
{{#kwargs}}
:param {{var}}: {{descriptionPlaceholder}}
:type {{var}}: {{typePlaceholder}}, optional (defaults to {{&default}})

{{/kwargs}}
{{/parametersExist}}
{{#returnsExist}}
Returns
-------
{{#returns}}
:return: {{descriptionPlaceholder}}
:rtype: {{typePlaceholder}}

{{/returns}}
{{/returnsExist}}
{{#exceptionsExist}}
Errors raised
-------------
{{#exceptions}}
:raises {{type}}: {{descriptionPlaceholder}}

{{/exceptions}}
{{/exceptionsExist}}
{{#yieldsExist}}
Yields
------
{{#yields}}
:yield: {{descriptionPlaceholder}}
:rtype: {{typePlaceholder}}

{{/yields}}
{{/yieldsExist}}